---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<div class="content">
		<h2>About</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In harum mollitia inventore accusamus excepturi similique magni quo saepe quis rerum maxime, pariatur ducimus nostrum reprehenderit repudiandae ratione tempora corporis culpa.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos vero corrupti quis velit! Sed sint mollitia error natus inventore temporibus, architecto rem ipsam libero, in ad reiciendis. Laboriosam, vel maxime.</p>
	</div>
</BaseLayout>