---
import BaseLayout from '../layouts/BaseLayout.astro'

// const user = { name: 'Mario', email: 'mario@bookbites.com' }

const getUser = () => {
	return Math.random() < 0.5 ? null : {
		name: 'mario',
		email: 'mario@bookbites.com'
	}
}

let user = getUser()

---

<BaseLayout>
	<div class="content">
		{user && (
			<h2>Welcome, {user.name}</h2>
			<p>Logged in as {user.email}</p>
		)}
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quas!</p>
		<a href="/books">Take a look at my reviews</a>
	</div>
</BaseLayout>

<style>
	.content{
		text-align: center;
	}
	a {
		display: inline-block;
		background-color: #7a49c5;
		color: #fff;
		padding: 6px 10px;
		border-radius: 2px;
		text-decoration: none;
		margin-top: 20px;
	}
	a:hover {
		background-color: #965ee9;
	}
</style>