---
interface Props {
    book: {
        title: string;
        author: string;
    };
}

const { book } = Astro.props;
---

<div class="book-card">
    <p class="book-title">{book.title}</p>
    <p class="book-author">{book.author}</p>
</div>

<style>
    h2 {
        padding-right: 10px;
        border-right: 8px solid #ebe5f2;
        border-bottom: 8px solid #f9f6fc;
        margin-bottom: 40px;
        text-align: right;
    }
    .book-card {
        background-color: #f9f6fc;
        padding: 16px 20px;
        margin: 20px auto;
        box-shadow: 8px 8px 0 #ebe5f2;
    }
    .book-title {
        font-size: 1.4em;
        font-weight: bold;
        margin: 0;
    }
    .book-author {
        margin-top: 0;
    }
</style>
