---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Likes from "../../components/Likes";

export async function getStaticPaths() {
    const books = await getCollection("books");

    return books.map((book) => {
        return {
            params: { id: book.id },
            props: { book },
        };
    });
}

const { book } = Astro.props;
const { Content } = await render(book);
---

<BaseLayout>
    <div class="content">
        <Content />
        <Likes client:visible />
    </div>
</BaseLayout>
