---
import { getCollection } from "astro:content";
import BookCard from "../../components/BookCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const books = await getCollection("books");
---

<BaseLayout>
	<div class="content">
		<h2>Books</h2>
		{books.map((book) => <BookCard book={book} />)}
		{!books.length && <p>No books to show.</p>}
	</div>
</BaseLayout>

<style>
	h2 {
		padding-right: 10px;
		border-right: 8px solid #ebe5f2;
		border-bottom: 8px solid #f9f6fc;
		margin-bottom: 40px;
		text-align: right;
	}
</style>
