---
export const prerender = false;

import BaseLayout from "../../layouts/BaseLayout.astro";

interface Product {
    id: number;
    title: string;
}

const response = await fetch("https://dummyjson.com/products");
const json = await response.json();
const products: Product[] = json.products;
---

<BaseLayout>
    <div class="content">
        {
            products.map((product) => {
                return <div>{product.title}</div>;
            })
        }
    </div>
</BaseLayout>
